.search-form {
}
.input {
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 8px;
  margin-right: 5px;
  width: 260px;
}
.btn-search {
  border-radius: 20px;
  padding: 8px;
}
.load-more {
  display: inline-block;
  margin-left: 50%;
  border-radius: 20px;
  padding: 15px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.photo-card {
  width: calc(400px - 40px);
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.gallery-image {
  border-radius: 20px;
}
.info {
  padding: 5px, 4px, 10px;
  display: flex;

  width: 360;
  gap: 30px;
}
.info-item {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
